* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HTML {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; COLOR: #666; FONT-SIZE: 12px; PADDING-TOP: 0px
}
BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; COLOR: #666; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.n_main {
	BACKGROUND-IMAGE: url(../../images/pmlc12_bg_sy.gif)
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
A {
	COLOR: #0c7020; TEXT-DECORATION: underline
}
A:link {
	COLOR: #0c7020; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #0c7020; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #2f9042; TEXT-DECORATION: underline
}
A:active {
	COLOR: #2f9042; TEXT-DECORATION: underline
}
.huanhang {
	WORD-WRAP: break-word; WORD-BREAK: break-all
}
.PMLC12_mainbody {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 100%; PADDING-TOP: 0px
}
.PMLC12_banner {
	BACKGROUND-IMAGE: url(../../images/pmlc12_banner_b.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; HEIGHT: 116px; VERTICAL-ALIGN: top
}
.PMLC12_banner_a {
	BACKGROUND-IMAGE: url(../../images/pmlc12_banner_a.gif); WIDTH: 717px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 116px
}
.PMLC12_banner_b {
	BACKGROUND-IMAGE: url(../../images/pmlc12_banner_b.gif); WIDTH: 10%; BACKGROUND-REPEAT: repeat-x; HEIGHT: 116px
}
.PMLC12_banner_c {
	BACKGROUND-IMAGE: url(../../images/pmlc12_banner_c.gif); WIDTH: 20%; BACKGROUND-REPEAT: no-repeat; HEIGHT: 116px
}
.PMLC12_kfdxz {
	MARGIN: 0px; PADDING-LEFT: 130px; WIDTH: 142px; HEIGHT: 33px; PADDING-TOP: 5px
}
.PMLC12_user {
	TEXT-ALIGN: right; PADDING-LEFT: 70px; WIDTH: 200px
}
.PMLC12_t_yellow {
	LINE-HEIGHT: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #f8f508; FONT-SIZE: 12px
}
.PMLC12_t_white {
	LINE-HEIGHT: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #fff; FONT-SIZE: 12px
}
.PMLC12_t_white_a {
	TEXT-ALIGN: left; LINE-HEIGHT: 24px; PADDING-LEFT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.PMLC12_t_white_a A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.PMLC12_t_white_a A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.PMLC12_t_white_a A:hover {
	COLOR: #f56c07; TEXT-DECORATION: none
}
.PMLC12_t_white_a A:active {
	COLOR: #fff; TEXT-DECORATION: none
}
.PMLC12_banner_btn {
	TEXT-ALIGN: right; PADDING-LEFT: 40px; WIDTH: 240px; HEIGHT: 25px; PADDING-TOP: 2px
}
.PMLC12_center {
	BACKGROUND-IMAGE: url(../../images/pmlc12_left_bg.gif); MARGIN: 0px; WIDTH: 100%; BACKGROUND-REPEAT: repeat-y; HEIGHT: 500px; VERTICAL-ALIGN: top
}
.PMLC12_center_left {
	MARGIN: 0px; WIDTH: 255px; HEIGHT: auto
}
.PMLC12_left_a {
	WIDTH: 253px; HEIGHT: auto
}
.PMLC12_left_a1 {
	BACKGROUND-IMAGE: url(../../images/PMLC12_left_bgb.gif); WIDTH: 253px; BACKGROUND-REPEAT: repeat-y; HEIGHT: auto
}
.PMLC12_center_lefttable {
	MARGIN: 10px; WIDTH: 241px; HEIGHT: 113px; PADDING-TOP: 10px
}
.PMLC12_left_abgc {
	BACKGROUND-IMAGE: url(../../images/pmlc12_left_abgc.gif); WIDTH: 253px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 10px
}
.PMLC12_text_gray {
	TEXT-ALIGN: right; LINE-HEIGHT: 15px; COLOR: #0b4702; FONT-SIZE: 12px
}
.PMLC12_text_gray_a {
	TEXT-ALIGN: left; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666; FONT-SIZE: 12px
}
.PMLC12_text_gray_aF {
	TEXT-ALIGN: left; LINE-HEIGHT: 15px; PADDING-LEFT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 12px
}
.PMLC12_text_red {
	TEXT-ALIGN: left; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #830404; FONT-SIZE: 12px
}
.PMLC12_text_green A:link {
	COLOR: #179404
}
.PMLC12_text_green A:visited {
	COLOR: #179404
}
.PMLC12_text_green A:hover {
	COLOR: #000
}
.PMLC12_text_green A:active {
	COLOR: #179404
}
.PMLC12_text_green_a {
	LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0b4702; FONT-SIZE: 12px
}
.PMLC12_left_b {
	WIDTH: 253px; HEIGHT: auto
}
.PMLC12_left_b_top {
	BACKGROUND-IMAGE: url(../../images/pmlc12_center_left_btop.gif); WIDTH: 253px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 38px
}
.PMLC12_btn_xjwjj {
	PADDING-LEFT: 140px; WIDTH: 100px; HEIGHT: 21px; PADDING-TOP: 3px
}
.PMLC12_left_b_bg {
	BACKGROUND-IMAGE: url(../../images/pmlc12_left_bg.gif); WIDTH: 253px; BACKGROUND-REPEAT: repeat-y; HEIGHT: auto
}
.PMLC12_left_b_bgb {
	BACKGROUND-IMAGE: url(../../images/pmlc12_left_bgb.gif); WIDTH: 253px; BACKGROUND-REPEAT: repeat-y; HEIGHT: auto
}
.PMLC12_left_wjj_a {
	BACKGROUND-IMAGE: url(../../images/PMLC12_lef_b2.gif); TEXT-ALIGN: left; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px
}
.PMLC12_left_wjj_b {
	BACKGROUND-IMAGE: url(../../images/PMLC12_lef_b2a.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px
}
.PMLC12_text_gray_b {
	TEXT-ALIGN: left; LINE-HEIGHT: 27px; PADDING-LEFT: 35px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333; FONT-SIZE: 13px
}
.PMLC12_left_b_kuang_a {
	TEXT-ALIGN: left; PADDING-BOTTOM: 6px; PADDING-LEFT: 5px; WIDTH: 240px; PADDING-RIGHT: 8px; HEIGHT: auto; PADDING-TOP: 6px
}
.PMLC12_left_b_kuang {
	TEXT-ALIGN: left; PADDING-BOTTOM: 6px; PADDING-LEFT: 10px; WIDTH: 230px; PADDING-RIGHT: 10px; HEIGHT: auto; PADDING-TOP: 6px
}
.PMLC12_left_bgc {
	BACKGROUND-IMAGE: url(../../images/pmlc12_left_bgc.gif); WIDTH: 253px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 10px
}
.PMLC12_left_cklsjl {
	WIDTH: 253px; HEIGHT: auto
}
.PMLC12_center_right {
	PADDING-BOTTOM: 7px; BACKGROUND-COLOR: #f8fcf9; MARGIN: 7px; PADDING-LEFT: 7px; WIDTH: 82%; PADDING-RIGHT: 7px; HEIGHT: auto; VERTICAL-ALIGN: top; PADDING-TOP: 7px
}
.PMLC12_text_green_big {
	TEXT-ALIGN: left; LINE-HEIGHT: 21px; PADDING-LEFT: 10px; COLOR: #047a21; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.PMLC12_biaoge {
	PADDING-LEFT: 3px; HEIGHT: 21px
}
.PMLC12_biaoge_a {
	WIDTH: auto
}
.PMLC12_right_xxlb {
	BACKGROUND-IMAGE: url(../../images/PMLC12_btn_xxlb.gif); TEXT-ALIGN: left; LINE-HEIGHT: 21px; PADDING-LEFT: 20px; WIDTH: 80px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px; COLOR: #333
}
.PMLC12_text_blocka {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; COLOR: #333; FONT-SIZE: 12px
}
.PMLC12_right_center {
	WIDTH: 100%; HEIGHT: auto; PADDING-TOP: 3px
}
.PMLC12_right_center_bt {
	BACKGROUND-IMAGE: url(../../images/PMLC12_right_bt.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; HEIGHT: 37px
}
.PMLC12_right_tablea {
	MARGIN: 0px; WIDTH: 100%; HEIGHT: auto
}
.PMLC12_right_table_bga {
	BACKGROUND-IMAGE: url(../../images/PMLC12_right_bt00001.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; HEIGHT: 35px
}
.PMLC12_text_green_biao {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; COLOR: #005d00; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.PMLC12_text_blockbiao {
	TEXT-ALIGN: center; COLOR: #333; FONT-SIZE: 12px
}
.PMLC12_text_blockbiao_a {
	TEXT-ALIGN: left; COLOR: #333; FONT-SIZE: 12px
}
.PMLC12_text_blockbiao_b {
	TEXT-ALIGN: left; WIDTH: 48px; COLOR: #333; FONT-SIZE: 12px
}
.PMLC12_text_blockbiao_c {
	TEXT-ALIGN: left; PADDING-LEFT: 2px; COLOR: #666; FONT-SIZE: 12px
}
.PMLC12_pictuer_bg {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #ebeceb; WIDTH: 100%
}
.PMLC12_jcjg {
	TEXT-ALIGN: center; WIDTH: 48px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px
}
.PMLC12_jcjg11 {
	TEXT-ALIGN: left; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px
}
UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.list_menu {
	Z-INDEX: 20; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.list_menu LI {
	Z-INDEX: 20; POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: left; CURSOR: pointer; PADDING-TOP: 0px
}
.list_menu LI A {
	TEXT-ALIGN: center; DISPLAY: block; HEIGHT: 23px; FONT-WEIGHT: 700; TEXT-DECORATION: none
}
.list_menu LI A:hover {
	
}
.list_menu UL {
	Z-INDEX: 20; BORDER-BOTTOM: #c6cbcf 1px solid; POSITION: absolute; BORDER-LEFT: #c6cbcf 1px solid; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: #f0f8eb; BORDER-RIGHT: #c6cbcf 1px solid; PADDING-TOP: 0px; LEFT: 0px
}
.list_menu UL LI {
	TEXT-ALIGN: left; WIDTH: 140px; FLOAT: left; BORDER-TOP: #fff 1px solid
}
.list_menu UL A {
	TEXT-ALIGN: left; PADDING-BOTTOM: 8px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; HEIGHT: 15px; PADDING-TOP: 8px
}
.list_menu UL A:hover {
	TEXT-DECORATION: underline
}
.list_menu2 {
	Z-INDEX: 10; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.list_menu2 LI {
	Z-INDEX: 10; POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: left; CURSOR: pointer; PADDING-TOP: 0px
}
.list_menu2 LI A {
	TEXT-ALIGN: center; DISPLAY: block; HEIGHT: 23px; FONT-WEIGHT: 700; TEXT-DECORATION: none
}
.list_menu2 LI A:hover {
	
}
.list_menu2 UL {
	Z-INDEX: 10; BORDER-BOTTOM: #c6cbcf 1px solid; POSITION: absolute; BORDER-LEFT: #c6cbcf 1px solid; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: #f0f8eb; BORDER-RIGHT: #c6cbcf 1px solid; PADDING-TOP: 0px; LEFT: 0px
}
.list_menu2 UL LI {
	TEXT-ALIGN: left; WIDTH: 140px; FLOAT: left; BORDER-TOP: #fff 1px solid
}
.list_menu2 UL A {
	TEXT-ALIGN: left; PADDING-BOTTOM: 8px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; HEIGHT: 15px; PADDING-TOP: 8px
}
.list_menu2 UL A:hover {
	TEXT-DECORATION: underline
}
.clear {
	CLEAR: both
}
.NoSearch {
	PADDING-LEFT: 10px; PADDING-TOP: 20px
}
.Load_Div {
	Z-INDEX: 999; BORDER-BOTTOM: #000000 1px solid; POSITION: absolute; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid; PADDING-BOTTOM: 20px; LINE-HEIGHT: 30px; BACKGROUND-COLOR: #f0f8eb; MARGIN: auto auto auto -100px; WIDTH: 150px; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; PADDING-TOP: 20px; TOP: 280px; LEFT: 50%
}
A.Order1 {
	COLOR: #179404; TEXT-DECORATION: underline
}
A.Order2 {
	COLOR: #980000; TEXT-DECORATION: none
}
A.Order2:visited {
	COLOR: #980000; TEXT-DECORATION: none
}
.PMLC12_text_green {
	LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px
}
.w_t_l {
	BACKGROUND-IMAGE: url(../../images/bg_01.gif); WIDTH: 9px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 31px
}
.w_t_c {
	BACKGROUND-IMAGE: url(../../images/bg_02.gif); TEXT-ALIGN: left; LINE-HEIGHT: 30px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 31px; COLOR: #005d00; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.w_t_r {
	BACKGROUND-IMAGE: url(../../images/bg_03.gif); WIDTH: 31px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 31px; CURSOR: pointer
}
.w_t_r_1 {
	BACKGROUND-IMAGE: url(../../images/bg_03_1.gif); WIDTH: 31px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 31px
}
.w_b {
	BORDER-BOTTOM: #99ab92 1px solid; BORDER-LEFT: #99ab92 1px solid; BORDER-RIGHT: #99ab92 1px solid
}
.PMLC12_window {
	BACKGROUND-COLOR: #fff; MARGIN: auto; WIDTH: 800px; HEIGHT: auto
}
.PMLC12_window_bt {
	WIDTH: 800px; HEIGHT: 30px
}
.PMLC12_window_bta {
	TEXT-ALIGN: left; PADDING-LEFT: 10px; WIDTH: 120px; FLOAT: left; HEIGHT: 30px
}
.PMLC12_w_text_green {
	LINE-HEIGHT: 30px; HEIGHT: 30px; COLOR: #003300; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.PMLC12_w_exit {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 20px; PADDING-RIGHT: 5px; FLOAT: right; HEIGHT: 20px; PADDING-TOP: 5px
}
.PMLC12_w_text_greena {
	LINE-HEIGHT: 30px; HEIGHT: 30px; COLOR: #006600
}
.PMLC12_w_ba {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; COLOR: #333; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.PMLC12_w_table_a {
	BORDER-RIGHT-WIDTH: 0px; MARGIN: auto; WIDTH: 795px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: auto; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 10px
}
.PMLC12_w_table_b {
	BORDER-RIGHT-WIDTH: 0px; MARGIN: auto; WIDTH: 795px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: auto; BORDER-LEFT-WIDTH: 0px
}
.PMLC12_w_table_bN {
	BORDER-BOTTOM: #99ab92 1px solid; BORDER-LEFT: #99ab92 1px solid; MARGIN: auto; WIDTH: 800px; BORDER-TOP-WIDTH: 0px; HEIGHT: auto; BORDER-RIGHT: #99ab92 1px solid; PADDING-TOP: 25px
}
.PMLC12_w_text_a {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; COLOR: #666; VERTICAL-ALIGN: top; FONT-WEIGHT: bold
}
.PMLC12_w_text_b {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; COLOR: #9d061f
}
.PMLC12_w_text_c {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; COLOR: #999
}
.PMLC12_w_text_d {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; COLOR: #666
}
.PMLC12_w_text_gray {
	TEXT-ALIGN: right; LINE-HEIGHT: 30px; COLOR: #0b4702; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.PMLC12_w_bian {
	BORDER-BOTTOM: #7ab06c 1px solid; BORDER-LEFT: #7ab06c 1px solid; LINE-HEIGHT: 20px; WIDTH: 240px; HEIGHT: 20px; FONT-SIZE: 12px; BORDER-TOP: #7ab06c 1px solid; BORDER-RIGHT: #7ab06c 1px solid
}
.PMLC12_w_bian_a {
	BORDER-BOTTOM: #7ab06c 1px solid; BORDER-LEFT: #7ab06c 1px solid; HEIGHT: auto; FONT-SIZE: 12px; BORDER-TOP: #7ab06c 1px solid; BORDER-RIGHT: #7ab06c 1px solid
}
.PMLC12_w_bgxian {
	BACKGROUND-IMAGE: url(../../images/pmlc12_w_bgxian.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 30px
}
.PMLC12_w_bgxian1 {
	BACKGROUND-IMAGE: url(../../images/pmlc12_w_bgxian_q.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 2px
}
.PMLC12_w_sc {
	TEXT-ALIGN: center; MARGIN: auto; HEIGHT: 70px; PADDING-TOP: 20px
}
A.BigButton {
	BACKGROUND-IMAGE: url(../../images/pmlc_btn11.gif); TEXT-ALIGN: center; LINE-HEIGHT: 26px; WIDTH: 90px; DISPLAY: block; HEIGHT: 26px; COLOR: #325b18; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.BigButton:visited {
	BACKGROUND-IMAGE: url(../../images/pmlc_btn11.gif); TEXT-ALIGN: center; LINE-HEIGHT: 26px; WIDTH: 90px; DISPLAY: block; HEIGHT: 26px; COLOR: #325b18; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.BigButton:link {
	BACKGROUND-IMAGE: url(../../images/pmlc_btn11.gif); TEXT-ALIGN: center; LINE-HEIGHT: 26px; WIDTH: 90px; DISPLAY: block; HEIGHT: 26px; COLOR: #325b18; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.BigButton:hover {
	BACKGROUND-IMAGE: url(../../images/pmlc_btn11.1.gif); TEXT-ALIGN: center; LINE-HEIGHT: 26px; WIDTH: 90px; DISPLAY: block; HEIGHT: 26px; COLOR: #325b18; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.BigButton:active {
	BACKGROUND-IMAGE: url(../../images/pmlc_btn11.1.gif); TEXT-ALIGN: center; LINE-HEIGHT: 26px; WIDTH: 90px; DISPLAY: block; HEIGHT: 26px; COLOR: #325b18; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.PMLC12_sclw_table_b {
	BORDER-RIGHT-WIDTH: 0px; MARGIN: auto; WIDTH: 100%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: auto; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 25px
}
.per_g {
	BACKGROUND-IMAGE: url(../../images/pmlc_icon1.gif); TEXT-ALIGN: left; LINE-HEIGHT: 17px; PADDING-LEFT: 10px; WIDTH: 45px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; FLOAT: left; HEIGHT: 17px
}
.per_y {
	BACKGROUND-IMAGE: url(../../images/pmlc_icon2.gif); TEXT-ALIGN: left; LINE-HEIGHT: 17px; PADDING-LEFT: 10px; WIDTH: 45px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; FLOAT: left; HEIGHT: 17px
}
.per_o {
	BACKGROUND-IMAGE: url(../../images/pmlc_icon3.gif); TEXT-ALIGN: left; LINE-HEIGHT: 17px; PADDING-LEFT: 10px; WIDTH: 45px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; FLOAT: left; HEIGHT: 17px
}
.per_r {
	BACKGROUND-IMAGE: url(../../images/pmlc_icon4.gif); TEXT-ALIGN: left; LINE-HEIGHT: 17px; PADDING-LEFT: 10px; WIDTH: 45px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; FLOAT: left; HEIGHT: 17px
}
.words {
	TEXT-ALIGN: left; WIDTH: 40px; FLOAT: left
}
.PMLC12_jcjg_a {
	BACKGROUND-IMAGE: url(../../images/pmlc_icon4.gif); TEXT-ALIGN: left; LINE-HEIGHT: 17px; PADDING-LEFT: 10px; WIDTH: 48px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px; COLOR: #333
}
A.ResultSel {
	COLOR: black; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.ResultSel:visited {
	COLOR: black; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.ResultSel:link {
	COLOR: black; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.ResultSel:hover {
	COLOR: black; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.ResultSel:active {
	COLOR: black; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.ResultNoSel {
	COLOR: #666; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A.ResultNoSel:visited {
	COLOR: #666; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A.ResultNoSel:link {
	COLOR: #666; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A.ResultNoSel:hover {
	COLOR: #666; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A.ResultNoSel:active {
	COLOR: #666; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
.Small_CheckResult {
	FONT-SIZE: 10px
}
.PMLC12_bottom {
	BACKGROUND-IMAGE: url(../../images/pmlc12_bottom_bg.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 82px
}
.PMLC12_bottom_logo {
	MARGIN: auto; WIDTH: 500px; HEIGHT: 54px; PADDING-TOP: 5px
}
.PMLC12_bottom_left {
	BACKGROUND-IMAGE: url(../../images/PMLC12_logo.gif); WIDTH: 144px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 54px
}
.PMLC12_bottom_right {
	WIDTH: 355px; FLOAT: right; HEIGHT: 54px
}
.PMLC12_text_bottom {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #9bf380; FONT-SIZE: 12px
}
.PMLC12_input {
	BORDER-BOTTOM: #289019 1px solid; BORDER-LEFT: #289019 1px solid; FONT-SIZE: 12px; BORDER-TOP: #289019 1px solid; BORDER-RIGHT: #289019 1px solid
}
UL {
	LIST-STYLE-TYPE: none
}
#PMLC12_banner_menu {
	BACKGROUND-IMAGE: url(../../images/PMLC12_banner_menu_bg.gif); Z-INDEX: 90; POSITION: relative; MARGIN-TOP: 83px; WIDTH: 717px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px
}
#PMLC12_banner_menu UL {
	LINE-HEIGHT: 32px; PADDING-RIGHT: 10px; HEIGHT: 32px; MARGIN-LEFT: 10px; OVERFLOW: hidden
}
#PMLC12_banner_menu UL LI {
	LINE-HEIGHT: 32px; WIDTH: 83px; FLOAT: left; HEIGHT: 32px
}
#PMLC12_banner_menu UL LI A {
	TEXT-ALIGN: center; WIDTH: 83px; DISPLAY: block; COLOR: #c8ff88; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#PMLC12_banner_menu UL LI A:hover {
	BACKGROUND-IMAGE: url(../../images/pmlc12_menu_bga.gif); BACKGROUND-REPEAT: no-repeat; COLOR: #fff; FONT-WEIGHT: 700
}
#PMLC12_banner_menu .subnav {
	BACKGROUND-IMAGE: url(../../images/pmlc12_t1.gif); Z-INDEX: 90; POSITION: absolute; MIN-WIDTH: 80px; WIDTH: auto !important; DISPLAY: none; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 63px; _width: 0; _white-space: nowrap
}
#PMLC12_banner_menu .back_div {
	POSITION: absolute; MARGIN-TOP: 2px; DISPLAY: none; HEIGHT: 63px
}
#PMLC12_banner_menu .subnav P {
	BACKGROUND-IMAGE: url(../../images/pmlc12_t3.gif); PADDING-RIGHT: 10px; BACKGROUND-POSITION: right 50%; HEIGHT: 63px; MARGIN-LEFT: 10px
}
#PMLC12_banner_menu .subnav P SPAN {
	BACKGROUND-IMAGE: url(../../images/pmlc12_t21.gif); DISPLAY: block; BACKGROUND-REPEAT: repeat-x; HEIGHT: 63px
}
#PMLC12_banner_menu .subnav P A {
	DISPLAY: block; FLOAT: left; HEIGHT: 63px
}
#PMLC12_banner_menu .subnav P A:hover {
	BACKGROUND-IMAGE: url(../../images/pmlc12_t2b.gif); HEIGHT: 63px
}
#PMLC12_banner_menu .subnav .arrow {
	BACKGROUND-IMAGE: url(../../images/pmlc12_t4.gif); POSITION: absolute; WIDTH: 50px; DISPLAY: block; HEIGHT: 7px
}
.PMLC12_glyzx_left {
	BACKGROUND-IMAGE: url(../../images/pmlc12_bg_menu.gif); WIDTH: 253px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 38px
}
.PMLC12_glyzx_left_text {
	TEXT-ALIGN: left; LINE-HEIGHT: 38px; PADDING-LEFT: 10px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.PMLC12_glyzx_text_gray {
	TEXT-ALIGN: right; LINE-HEIGHT: 25px; COLOR: #0b4702; FONT-SIZE: 12px
}
.PMLC12_center_a {
	PADDING-BOTTOM: 0px; MARGIN: 0px; MIN-HEIGHT: 500px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: auto !important; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.PMLC12_center_b {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: auto !important; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.PMLC12_center_wxjcjg_bt {
	BACKGROUND-IMAGE: url(../../images/pmlc12_wxjcjg_bja.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; HEIGHT: 42px
}
.PMLC12_wxjcjg_text_a {
	TEXT-ALIGN: left; LINE-HEIGHT: 42px; PADDING-LEFT: 10px; COLOR: #1f6502; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.PMLC12_wxjcjg_text_aF {
	TEXT-ALIGN: left; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; COLOR: #1f6502; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.PMLC12_wxjcjg_text_a1 {
	TEXT-ALIGN: left; LINE-HEIGHT: 42px; PADDING-LEFT: 10px; COLOR: #333; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.PMlc12_wxjcjg_center_left {
	WIDTH: 60%; FLOAT: left; HEIGHT: auto
}
.PMlc12_wxjcjg_center_lefttable {
	MARGIN-TOP: 5px; WIDTH: 100%; HEIGHT: auto
}
.PMlc12_wxjcjg_center_lefttable TD {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 22px; BORDER-LEFT-WIDTH: 0px
}
.PMlC12_wxjcjg_text_b {
	TEXT-ALIGN: left; LINE-HEIGHT: 30px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; COLOR: #333; FONT-SIZE: 14px
}
.PMlC12_wxjcjg_text_b P {
	LINE-HEIGHT: 24px; TEXT-INDENT: 2em; WORD-WRAP: break-word; WORD-BREAK: break-all
}
.PMlC12_wxjcjg_center_right {
	WIDTH: 20%; FLOAT: right; HEIGHT: auto
}
.PMlC12_wxjcjg_center_rightNew {
	WIDTH: 40%; FLOAT: right; HEIGHT: auto
}
.PMlC12_wxjcjg_center_right_a {
	MARGIN: auto; WIDTH: 150px; HEIGHT: auto
}
.PMlC12_wxjcjg_center_right_a1 {
	TEXT-ALIGN: center; WIDTH: 150px; HEIGHT: 25px; PADDING-TOP: 30px
}
.PMLC12_right_table_bg {
	BORDER-RIGHT-WIDTH: 0px; MARGIN: auto; WIDTH: 100%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 24px; BORDER-LEFT-WIDTH: 0px
}
.PMLC12_right_table_bg TR {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 35px; BORDER-LEFT-WIDTH: 0px
}
.PMLC12_right_table_bg TD {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.PMLC12_right_table_bg TH {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.PMLC12_right_table_bg_row {
	BACKGROUND-COLOR: #def4d5; WIDTH: 100%; HEIGHT: 35px
}
.PMLC12_right_table_bg_rowb {
	BACKGROUND-COLOR: #fff; WIDTH: 100%; HEIGHT: 35px
}
.PMLC12_right_table_bg_rowa {
	BACKGROUND-COLOR: #f3fcf3; WIDTH: 100%; HEIGHT: 35px
}
.PMLC12_right_table_bgF {
	BORDER-RIGHT-WIDTH: 0px; MARGIN: auto; WIDTH: 100%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 24px; BORDER-LEFT-WIDTH: 0px
}
.PMLC12_right_table_bgF TR {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 24px; BORDER-LEFT-WIDTH: 0px
}
.PMLC12_right_table_bgF TD {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.PMLC12_right_table_bgF TH {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.PMLC12_right_table_bg_rowF {
	BACKGROUND-COLOR: #def4d5; WIDTH: 100%; HEIGHT: 24px
}
.PMLC12_right_table_bg_rowbF {
	BACKGROUND-COLOR: #fff; WIDTH: 100%; HEIGHT: 24px
}
.PMLC12_right_table_bg_rowaF {
	BACKGROUND-COLOR: #f3fcf3; WIDTH: 100%; HEIGHT: 24px
}
.PMLC12_right_table_full_height {
	BACKGROUND-COLOR: #f8fcf9; WIDTH: 100%; PADDING-TOP: 10px
}
A.PMLC12_yjcwx_btn {
	BACKGROUND-IMAGE: url(../../images/pmlc12_m_btnb.gif); TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 220px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 39px; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 7px
}
A.PMLC12_yjcwx_btn :visited {
	BACKGROUND-IMAGE: url(../../images/pmlc12_m_btnb.gif); TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 220px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 39px; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 7px
}
A.PMLC12_yjcwx_btn:link {
	BACKGROUND-IMAGE: url(../../images/pmlc12_m_btnb.gif); TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 220px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 39px; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 7px
}
A.PMLC12_yjcwx_btn:hover {
	BACKGROUND-IMAGE: url(../../images/pmlc12_m_btna.gif); TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 220px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 39px; COLOR: #6c6106; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 7px
}
A.PMLC12_yjcwx_btn:active {
	BACKGROUND-IMAGE: url(../../images/pmlc12_m_btna.gif); TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 220px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 39px; COLOR: #6c6106; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 7px
}
A.PMLC12_yjcwx_btn_a {
	BACKGROUND-IMAGE: url(../../images/pmlc12_m_btna.gif); TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 220px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 39px; COLOR: #6c6106; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 7px
}
A.PMLC12_yjcwx_btn_a:visited {
	BACKGROUND-IMAGE: url(../../images/pmlc12_m_btna.gif); TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 220px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 39px; COLOR: #6c6106; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 7px
}
A.PMLC12_yjcwx_btn_a:link {
	BACKGROUND-IMAGE: url(../../images/pmlc12_m_btna.gif); TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 220px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 39px; COLOR: #6c6106; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 7px
}
A.PMLC12_yjcwx_btn_a:hover {
	BACKGROUND-IMAGE: url(../../images/pmlc12_m_btna.gif); TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 220px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 39px; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 7px
}
A.PMLC12_yjcwx_btn_a:active {
	BACKGROUND-IMAGE: url(../../images/pmlc12_m_btna.gif); TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 220px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 39px; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 7px
}
.PMLC12_yfbwx_text_a {
	TEXT-ALIGN: left; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; COLOR: #1f6502; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.pmlc12_yfbwx_btn_jc {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 100%; HEIGHT: 60px; PADDING-TOP: 10px
}
.PMLC12_w_text_d P {
	TEXT-INDENT: 2em
}
.PMLC12_grbdk_sc {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 100%; HEIGHT: 60px; PADDING-TOP: 10px
}
.PMLC12_grbdk_table_b {
	TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: auto; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 25px
}
.PMLC12_grbdk_jsb {
	WIDTH: 800px; FLOAT: left; HEIGHT: auto
}
.PMLC12_ywhd_dhk {
	TEXT-ALIGN: center; MARGIN: auto; WIDTH: 100%; HEIGHT: auto; PADDING-TOP: 5px
}
.PMLC12_ywhd_text_a {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; COLOR: #1f6502; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.PMLC12_ywhd_dhk_a {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; MARGIN: auto; WIDTH: 800px; HEIGHT: auto; PADDING-TOP: 5px
}
.PMLC12_w_text_c P {
	TEXT-INDENT: 2em
}
.PMLC12_center_ywhd {
	PADDING-BOTTOM: 0px; MARGIN: 0px; MIN-HEIGHT: 500px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: auto !important; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.PMLC12_w_text_b P {
	TEXT-INDENT: 2em
}
.PMLC12_llbd {
	TEXT-ALIGN: center; PADDING-BOTTOM: 30px; PADDING-LEFT: 30px; WIDTH: 50%; PADDING-RIGHT: 30px; HEIGHT: auto; PADDING-TOP: 30px
}
.PMLC12_llbd_a {
	BORDER-BOTTOM: #98c092 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #98c092 1px solid; LINE-HEIGHT: 20px; MARGIN: 5px; WIDTH: 95%; BACKGROUND: #fff; HEIGHT: 800px; FONT-SIZE: 14px; OVERFLOW: auto; BORDER-TOP: #98c092 1px solid; BORDER-RIGHT: #98c092 1px solid
}
.PMLC12_llbd_clearfix {
	DISPLAY: inline-block
}
.PMLC12_dpbd {
	BORDER-BOTTOM: #98c092 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #98c092 1px solid; PADDING-BOTTOM: 15px; LINE-HEIGHT: 30px; MARGIN: 5px; PADDING-LEFT: 15px; WIDTH: 95%; PADDING-RIGHT: 15px; HEIGHT: 200px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: #98c092 1px solid; BORDER-RIGHT: #98c092 1px solid; PADDING-TOP: 15px
}
.PMLC12_dpbd_inputsimple {
	BORDER-BOTTOM: #98c092 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #98c092 1px solid; PADDING-BOTTOM: 15px; LINE-HEIGHT: 30px; MARGIN: 5px; PADDING-LEFT: 15px; WIDTH: 95%; PADDING-RIGHT: 15px; BACKGROUND: #fff; HEIGHT: 800px; COLOR: #333; FONT-SIZE: 14px; OVERFLOW: auto; BORDER-TOP: #98c092 1px solid; BORDER-RIGHT: #98c092 1px solid; PADDING-TOP: 15px
}
.PMLC12_dpbd_a {
	PADDING-BOTTOM: 15px; MARGIN: 5px; PADDING-LEFT: 15px; WIDTH: 95%; PADDING-RIGHT: 15px; HEIGHT: 800px; PADDING-TOP: 15px
}
.PMLC12_dpbd_inputsimple P {
	LINE-HEIGHT: 24px; TEXT-INDENT: 2em; WORD-WRAP: break-word; WORD-BREAK: break-all
}
.PMLC12_dpbd_inputsimple P SPAN {
	WORD-WRAP: break-word; WORD-BREAK: break-all
}
.PMLC12_dpbd_gray {
	TEXT-ALIGN: left; LINE-HEIGHT: 15px; PADDING-LEFT: 10px; COLOR: #0b4702; FONT-SIZE: 12px
}
.PMLC12_dpbd_imgebtn {
	TEXT-ALIGN: right; PADDING-RIGHT: 10px
}
A.Blue {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.Blue:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.Red {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.Red:visited {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.Red {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.Blue {
	COLOR: #0000ff; TEXT-DECORATION: none
}
.PMLC12_xxtj {
	TEXT-ALIGN: center; PADDING-BOTTOM: 30px; PADDING-LEFT: 30px; WIDTH: 100%; PADDING-RIGHT: 30px; HEIGHT: auto; VERTICAL-ALIGN: top; PADDING-TOP: 30px
}
.PMLC12_xxtj_a {
	BORDER-BOTTOM: #98c092 1px solid; BORDER-LEFT: #98c092 1px solid; PADDING-BOTTOM: 15px; BACKGROUND-COLOR: #e4ecd5; MARGIN: auto; PADDING-LEFT: 15px; WIDTH: 50%; PADDING-RIGHT: 15px; HEIGHT: auto; BORDER-TOP: #98c092 1px solid; BORDER-RIGHT: #98c092 1px solid; PADDING-TOP: 15px
}
.PMLC12_xxtj_imge {
	BORDER-BOTTOM: #98c092 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #98c092 1px solid; PADDING-BOTTOM: 15px; BACKGROUND-COLOR: #e4ecd5; MARGIN: 10px; PADDING-LEFT: 15px; WIDTH: 605px; PADDING-RIGHT: 15px; HEIGHT: auto; VERTICAL-ALIGN: top; BORDER-TOP: #98c092 1px solid; BORDER-RIGHT: #98c092 1px solid; PADDING-TOP: 15px
}
.PMLC12_xxtj_imge_a {
	BORDER-BOTTOM: #98c092 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #98c092 1px solid; PADDING-BOTTOM: 15px; BACKGROUND-COLOR: #e4ecd5; MARGIN: 10px 0px; PADDING-LEFT: 15px; WIDTH: 96%; PADDING-RIGHT: 15px; HEIGHT: auto; VERTICAL-ALIGN: top; BORDER-TOP: #98c092 1px solid; BORDER-RIGHT: #98c092 1px solid; PADDING-TOP: 15px
}
.PMLC12_xxtj_table_b {
	TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; WIDTH: 95%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: auto; BORDER-LEFT-WIDTH: 0px
}
.PMLC12_xxtj_table_c {
	TEXT-ALIGN: left; WIDTH: 100%; HEIGHT: auto; OVERFLOW: visible
}
.PMLC12_xxtj_statistics {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; MARGIN: 10px 0px 10px 10px; WIDTH: 95%; HEIGHT: auto; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 5px
}
.PMLC12_xxtj_text {
	TEXT-ALIGN: left; MARGIN: 0px 0px 5px 10px; PADDING-LEFT: 10px; WIDTH: 95%; HEIGHT: auto
}
.PMLC12_xxtj_zyxxtj_a {
	PADDING-BOTTOM: 15px; MARGIN: auto; PADDING-LEFT: 15px; WIDTH: 800px; PADDING-RIGHT: 15px; HEIGHT: auto; PADDING-TOP: 15px
}
.PMLC12_xxtj_zyxxtj_a {
	PADDING-BOTTOM: 15px; MARGIN: auto; PADDING-LEFT: 15px; WIDTH: 800px; PADDING-RIGHT: 15px; HEIGHT: auto; PADDING-TOP: 15px
}
.PMLC12_tjy {
	MARGIN: auto; WIDTH: 820px; HEIGHT: auto; PADDING-TOP: 5px
}
.PMLC12_tjy_a {
	MARGIN: auto; WIDTH: 806px; HEIGHT: auto
}
.PMLC12_tjy_imga {
	BACKGROUND-IMAGE: url(../../images/pmlc12_fbjy_imges_a.gif); WIDTH: 806px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 52px
}
.PMLC12_tjy_imgb {
	BACKGROUND-IMAGE: url(../../images/pmlc12_fbjy_imges_b.gif); MIN-HEIGHT: 400px; WIDTH: 806px; BACKGROUND-REPEAT: repeat-y; HEIGHT: auto !important; VERTICAL-ALIGN: top
}
.PMLC12_tjy_imgd {
	BACKGROUND-IMAGE: url(../../images/pmlc12_fbjy_imges_d.gif); WIDTH: 806px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px
}
.PMLC12_tjy_imgc {
	BACKGROUND-IMAGE: url(../../images/pmlc12_fbjy_imges_c.gif); WIDTH: 806px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px
}
.PMLC12_tjy_imge {
	BACKGROUND-IMAGE: url(../../images/pmlc12_fbjy_imges_e.gif); WIDTH: 806px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 8px
}
.PMLC12_wjzy_imga {
	BACKGROUND-IMAGE: url(../../images/pmlc12_wjzy.gif); WIDTH: 806px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 52px
}
.NeiRong {
	BORDER-BOTTOM: #7ab06c 1px solid; BORDER-LEFT: #7ab06c 1px solid; BORDER-TOP: #7ab06c 1px solid; BORDER-RIGHT: #7ab06c 1px solid
}
.PMLC12_change_table_b {
	BORDER-RIGHT-WIDTH: 0px; MIN-HEIGHT: 530px; WIDTH: 100%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: auto !important; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 2px
}
.PMLC12_change {
	BACKGROUND-IMAGE: url(../../images/pmlc12_changeps.gif); MARGIN: auto; WIDTH: 776px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 512px
}
.PMLC12_yxchange {
	BACKGROUND-IMAGE: url(../../images/pmlc12_yxchangeps.gif); MARGIN: auto; WIDTH: 776px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 512px
}
.PMLC12_change_a {
	MARGIN: auto; WIDTH: 750px; HEIGHT: 300px; PADDING-TOP: 75px
}
.PMLC12_change_bian {
	BORDER-BOTTOM: #7ab06c 1px solid; BORDER-LEFT: #7ab06c 1px solid; HEIGHT: 25px; FONT-SIZE: 12px; BORDER-TOP: #7ab06c 1px solid; BORDER-RIGHT: #7ab06c 1px solid
}
.PMLC12_yjqk {
	BACKGROUND-IMAGE: url(../../images/pmlc12_yjqk.gif); MARGIN: auto; WIDTH: 776px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 512px
}
.OverStyle {
	COLOR: red; CURSOR: pointer; FONT-WEIGHT: bold
}
.OutStyle {
	COLOR: red; CURSOR: pointer
}
.OverStyle2 {
	COLOR: red; FONT-WEIGHT: bold
}
.OutStyle2 {
	COLOR: red
}
.MessageShow {
	Z-INDEX: 50; BORDER-BOTTOM: #aaccee 1px solid; POSITION: absolute; BORDER-LEFT: #aaccee 1px solid; BACKGROUND-COLOR: #f0f8eb; WIDTH: 300px; DISPLAY: block; BORDER-TOP: #aaccee 1px solid; BORDER-RIGHT: #aaccee 1px solid
}
.MessageHidden {
	DISPLAY: none
}
.MessageTitle {
	BORDER-BOTTOM: #aaccee 1px solid; TEXT-ALIGN: right; HEIGHT: 16px
}
.Font_Color_Red {
	COLOR: red
}
.Font_Color_Green {
	COLOR: #e28a05
}
.Font_Color_Grey {
	COLOR: #666666
}
.PMLC12_xjwjj_imga {
	BACKGROUND-IMAGE: url(../../images/pmlc12_xjwjj_a.gif); WIDTH: 806px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 52px
}
.PMLC12_xjwjj_imgd {
	BACKGROUND-IMAGE: url(../../images/pmlc12_xjwjj_c.gif); WIDTH: 806px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px
}
.PMLC12_login_mainbody {
	BACKGROUND-COLOR: #fefdf7; WIDTH: 100%; HEIGHT: 100%
}
.PMlC12_login_head {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #1b7a02; WIDTH: 100%; HEIGHT: 82px
}
.PMLC12_login_head_bg_reg {
	BACKGROUND-IMAGE: url(../../images/login0203.gif); MARGIN: auto; WIDTH: 1005px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 82px
}
.PMlC12_login_bottom {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #1b7a02; WIDTH: 100%; HEIGHT: 70px
}
.PMLC12_login_bottom_logo {
	MARGIN: auto; WIDTH: 500px; HEIGHT: 54px; PADDING-TOP: 5px
}
.PMLC12_login_bottom_left {
	BACKGROUND-IMAGE: url(../../images/PMLC12_logo.gif); WIDTH: 144px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 54px
}
.PMLC12_login_bottom_right {
	WIDTH: 355px; FLOAT: right; HEIGHT: 54px
}
.PMLC12_login_text_bottom {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #9bf380; FONT-SIZE: 12px
}
.TMLC12_login_top {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #127803; WIDTH: 100%; HEIGHT: 117px
}
.TMLC12_login_bg {
	BACKGROUND-IMAGE: url(../../images/TMLC2_login.gif); MARGIN: auto; WIDTH: 1003px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 117px
}
.VIP_menu {
	TEXT-ALIGN: right; LINE-HEIGHT: 30px; WIDTH: 300px; PADDING-RIGHT: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: right; HEIGHT: 30px; COLOR: #ceeb8f; FONT-SIZE: 12px
}
.VIP_menu A:link {
	COLOR: #ceeb8f; TEXT-DECORATION: none
}
.VIP_menu A:visited {
	COLOR: #ceeb8f; TEXT-DECORATION: none
}
.VIP_menu A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.VIP_menu A:active {
	COLOR: #ceeb8f; TEXT-DECORATION: none
}
.PMLC12_login_head_bg {
	BACKGROUND-IMAGE: url(../../images/login0203.gif); MARGIN: auto; WIDTH: 1005px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 82px
}
.PMlC12_login_center {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #fefdf7; MARGIN: auto; WIDTH: 1005px; HEIGHT: auto
}
.PMLC12_login_left {
	BACKGROUND-IMAGE: url(../../images/pmlc12_login_banner.gif); WIDTH: 707px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 280px
}
.PMLC12_login_right {
	BACKGROUND-IMAGE: url(../../images/pmlc12_login_login.gif); WIDTH: 298px; BACKGROUND-REPEAT: no-repeat; FLOAT: right; HEIGHT: 263px
}
.PMLC12_login_c {
	BACKGROUND-IMAGE: url(../../images/pmlc12_login_c.gif); WIDTH: 707px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 276px
}
.PMLC12_login_d {
	WIDTH: 298px; FLOAT: right; HEIGHT: 276px
}
.PMLC12_login_c1 {
	TEXT-ALIGN: left; PADDING-LEFT: 40px; WIDTH: 216px; HEIGHT: 62px; PADDING-TOP: 15px
}
.PMLC12__FL {
	TEXT-ALIGN: left; WIDTH: 580px; HEIGHT: auto; PADDING-TOP: 8px
}
.PMLC12_FL UL {
	PADDING-LEFT: 80px; WIDTH: 500px; HEIGHT: auto
}
.PMLC12_FL LI {
	TEXT-ALIGN: left; HEIGHT: 20px; COLOR: #666; FONT-SIZE: 12px; LIST-STYLE-IMAGE: url(../../images/pmlc12_F_d.gif)
}
.PMLC12_login_c2 {
	TEXT-ALIGN: left; PADDING-LEFT: 10px; WIDTH: 216px; HEIGHT: 62px; PADDING-TOP: 20px
}
.PMLC12_FRt {
	TEXT-ALIGN: left; PADDING-LEFT: 25px; WIDTH: 260px; HEIGHT: 90px; PADDING-TOP: 15px
}
.PMLC12_tx {
	LINE-HEIGHT: 20px; COLOR: #006600; FONT-SIZE: 12px
}
.PMLC12_p1 {
	LINE-HEIGHT: 25px; WIDTH: 60px; COLOR: #333; FONT-SIZE: 12px
}
.PMLC12_an_left {
	TEXT-ALIGN: center; WIDTH: 73px; FLOAT: left; HEIGHT: 24px
}
.PMLC12_an_right {
	TEXT-ALIGN: center; WIDTH: 73px; FLOAT: right; HEIGHT: 24px
}
.PMlC12_login_bottom {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #1b7a02; WIDTH: 100%; HEIGHT: 70px
}
.PMLC12_login_bottom_logo {
	MARGIN: auto; WIDTH: 500px; HEIGHT: 54px; PADDING-TOP: 5px
}
.PMLC12_login_bottom_left {
	BACKGROUND-IMAGE: url(../../images/PMLC12_logo.gif); WIDTH: 144px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 54px
}
.PMLC12_login_bottom_right {
	WIDTH: 355px; FLOAT: right; HEIGHT: 54px
}
.PMLC12_login_text_bottom {
	TEXT-ALIGN: center; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #9bf380; FONT-SIZE: 12px
}
.PMLC12_honour {
	BACKGROUND-IMAGE: url(../../images/index_0005.gif); LINE-HEIGHT: 30px; MARGIN: 253px 30px 0px 0px; WIDTH: 620px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "Times New Roman" , Times, serif; BACKGROUND-POSITION: 40px 6px; FLOAT: right; COLOR: #006600; FONT-SIZE: 12px
}
.PMLC12_honour A:link {
	COLOR: #006600; TEXT-DECORATION: none
}
.PMLC12_honour A:visited {
	COLOR: #006600; TEXT-DECORATION: none
}
.PMLC12_honoura:hover {
	COLOR: #006600; TEXT-DECORATION: none
}
.PMLC12_honour A:active {
	COLOR: #006600; TEXT-DECORATION: none
}
.PMLC12_sysms {
	MARGIN: auto; WIDTH: 298px; HEIGHT: 60px
}
.PMLC12_zc_table_b {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: auto; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 2px
}
.PMLC12_zc {
	MARGIN: auto; WIDTH: 877px; HEIGHT: auto; PADDING-TOP: 5px
}
.PMLC12_zc_a {
	MARGIN: auto; WIDTH: 877px; HEIGHT: auto
}
.PMLC12_zc_imga {
	BACKGROUND-IMAGE: url(../../images/pmlc12_zc_a.gif); WIDTH: 877px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 50px
}
.PMLC12_zc_table_b {
	TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: auto; BORDER-LEFT-WIDTH: 0px
}
.PMLC12_zc_text_gray {
	TEXT-ALIGN: right; LINE-HEIGHT: 30px; COLOR: #0b4702; FONT-SIZE: 14px
}
.PMLC12_zc_text_gray_a {
	TEXT-ALIGN: left; LINE-HEIGHT: 18px; COLOR: #156004; FONT-SIZE: 12px
}
.PMLC12_zc_text_d {
	TEXT-ALIGN: left; LINE-HEIGHT: 30px; COLOR: #666
}
.PMLC12_zc_imgb {
	BACKGROUND-IMAGE: url(../../images/pmlc12_zc_b.gif); MIN-HEIGHT: 400px; WIDTH: 877px; BACKGROUND-REPEAT: repeat-y; HEIGHT: auto !important; VERTICAL-ALIGN: top
}
.PMLC12_zc_imgg {
	BACKGROUND-IMAGE: url(../../images/pmlc12_zc_g.gif); WIDTH: 877px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px
}
.PMLC12_zc_red {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #830404; FONT-SIZE: 12px
}
.PMLC12_zc_red_a {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #830404; FONT-SIZE: 12px
}
.PMLC12_zc_imgc {
	BACKGROUND-IMAGE: url(../../images/pmlc12_zc_c.gif); WIDTH: 877px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px
}
.PMLC12_zc_imgd {
	BACKGROUND-IMAGE: url(../../images/pmlc12_zc_d.gif); WIDTH: 877px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px
}
.PMLC12_zc_imge {
	BACKGROUND-IMAGE: url(../../images/pmlc12_zc_e.gif); WIDTH: 877px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px
}
.PMLC12_zc_imgf {
	BACKGROUND-IMAGE: url(../../images/pmlc12_zc_f.gif); WIDTH: 877px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px
}
.PMLC12_zytj_table {
	BACKGROUND-COLOR: #f8fcf9; WIDTH: 100%; HEIGHT: 100%; PADDING-TOP: 10px
}
.PMLC12_zytj_table_b {
	TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: auto; BORDER-LEFT-WIDTH: 0px
}
.PMLC12_zytj_table_c {
	WIDTH: 100%; HEIGHT: auto
}
.PMLC12_zytj_text {
	TEXT-ALIGN: left; MARGIN: 0px 0px 5px 10px; WIDTH: 95%; HEIGHT: auto
}
.PMLC12_zytj_image {
	BORDER-BOTTOM: #98c092 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #98c092 1px solid; PADDING-BOTTOM: 15px; BACKGROUND-COLOR: #e4ecd5; MARGIN: 10px 0px; PADDING-LEFT: 15px; WIDTH: 605px; PADDING-RIGHT: 15px; HEIGHT: auto; VERTICAL-ALIGN: top; BORDER-TOP: #98c092 1px solid; BORDER-RIGHT: #98c092 1px solid; PADDING-TOP: 15px
}
.PMLC12_zytj_right {
	TEXT-ALIGN: left; PADDING-BOTTOM: 7px; BACKGROUND-COLOR: #f8fcf9; MARGIN: 7px; PADDING-LEFT: 7px; WIDTH: 82%; PADDING-RIGHT: 7px; HEIGHT: auto; VERTICAL-ALIGN: top; PADDING-TOP: 7px
}
.progressWrapper {
	PADDING-LEFT: 80px; WIDTH: 650px; OVERFLOW: hidden
}
.progressContainer {
	BORDER-BOTTOM: #e8e8e8 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #e8e8e8 1px solid; MARGIN: 5px; WIDTH: 600px; OVERFLOW: hidden; BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: #e8e8e8 1px solid
}
.progressName {
	TEXT-ALIGN: left; WIDTH: 323px; WHITE-SPACE: nowrap; HEIGHT: 14px; COLOR: #555; FONT-SIZE: 9pt; OVERFLOW: hidden; FONT-WEIGHT: 700
}
.progressBarInProgress {
	BACKGROUND-COLOR: blue; MARGIN-TOP: 2px; WIDTH: 0%; HEIGHT: 2px; FONT-SIZE: 0px
}
.progressBarComplete {
	BACKGROUND-COLOR: blue; MARGIN-TOP: 2px; WIDTH: 0%; HEIGHT: 2px; FONT-SIZE: 0px
}
.progressBarError {
	BACKGROUND-COLOR: blue; MARGIN-TOP: 2px; WIDTH: 0%; HEIGHT: 2px; FONT-SIZE: 0px
}
.progressBarComplete {
	WIDTH: 100%; VISIBILITY: hidden
}
.progressBarError {
	BACKGROUND-COLOR: red; WIDTH: 100%; VISIBILITY: hidden
}
.progressBarStatus {
	TEXT-ALIGN: left; MARGIN-TOP: 2px; WIDTH: 337px; FONT-FAMILY: Arial; WHITE-SPACE: nowrap; FONT-SIZE: 9pt
}
A.progressCancel {
	WIDTH: 14px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -14px 0px; FLOAT: right; HEIGHT: 14px; FONT-SIZE: 0px
}
A.progressCancel:hover {
	BACKGROUND-POSITION: 0px 0px
}
.PMLC12_xzkhd_bg {
	BACKGROUND-IMAGE: url(../../images/pmlc12_bg_khdxzgj.gif); MARGIN: auto; WIDTH: 640px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 520px
}
.PMLC12_anniu {
	TEXT-ALIGN: left; PADDING-LEFT: 30px; WIDTH: 600px; HEIGHT: 64px; PADDING-TOP: 90px
}
A.PMLC12_btn_xz {
	BACKGROUND-IMAGE: url(../../images/pmlc12_xzkhd_bb.gif); WIDTH: 322px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 64px
}
A.PMLC12_btn_xz:visited {
	BACKGROUND-IMAGE: url(../../images/pmlc12_xzkhd_bb.gif); WIDTH: 322px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 64px
}
A.PMLC12_btn_xz:link {
	BACKGROUND-IMAGE: url(../../images/pmlc12_xzkhd_bb.gif); WIDTH: 322px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 64px
}
A.PMLC12_btn_xz:hover {
	BACKGROUND-IMAGE: url(../../images/pmlc12_xzkhd_aa.gif); WIDTH: 322px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 64px
}
A.PMLC12_btn_xz:active {
	BACKGROUND-IMAGE: url(../../images/pmlc12_xzkhd_aa.gif); WIDTH: 322px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 64px
}
A.PMLC12_btn_xz_A {
	BACKGROUND-IMAGE: url(../../images/pmlc12_xzkhd_aa.gif); WIDTH: 322px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 64px
}
A.PMLC12_btn_xz_A:visited {
	BACKGROUND-IMAGE: url(../../images/pmlc12_xzkhd_aa.gif); WIDTH: 322px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 64px
}
A.PMLC12_btn_xz_A:link {
	BACKGROUND-IMAGE: url(../../images/pmlc12_xzkhd_aa.gif); WIDTH: 322px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 64px
}
A.PMLC12_btn_xz_A:hover {
	BACKGROUND-IMAGE: url(../../images/pmlc12_xzkhd_aa.gif); WIDTH: 322px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 64px
}
A.PMLC12_btn_xz_A:active {
	BACKGROUND-IMAGE: url(../../images/pmlc12_xzkhd_aa.gif); WIDTH: 322px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 64px
}
.PMLC12_khdxz_bta {
	PADDING-LEFT: 50px; WIDTH: 580px; HEIGHT: 40px; PADDING-TOP: 30px
}
.PMLC12_khdxz_bt {
	TEXT-ALIGN: left; PADDING-LEFT: 50px; WIDTH: 580px; HEIGHT: auto; PADDING-TOP: 5px
}
.PMLC12_jcxsbg_table {
	BORDER-BOTTOM: #006600 2px solid; PADDING-BOTTOM: 10px; MARGIN: 10px auto auto; WIDTH: 100%; FLOAT: left; HEIGHT: auto
}
.PMLC12_jcxsbg_table_a {
	WIDTH: 97%; HEIGHT: auto
}
.PMLC12_jcxsbg_a {
	BORDER-BOTTOM: #b3e1be 1px solid; BORDER-LEFT: #b3e1be 1px solid; PADDING-BOTTOM: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; WIDTH: 48%; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: auto; VERTICAL-ALIGN: top; BORDER-TOP: #b3e1be 1px solid; BORDER-RIGHT: #b3e1be 1px solid; PADDING-TOP: 5px
}
.PMLC12_jcxsbg_b {
	BORDER-BOTTOM: #b3e1be 1px solid; BORDER-LEFT: #b3e1be 1px solid; PADDING-BOTTOM: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; WIDTH: 48%; PADDING-RIGHT: 5px; FLOAT: right; HEIGHT: auto; VERTICAL-ALIGN: top; BORDER-TOP: #b3e1be 1px solid; BORDER-RIGHT: #b3e1be 1px solid; PADDING-TOP: 5px
}
.PMLC12_jcxsbg_k {
	TEXT-ALIGN: left; PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-TOP: 10px
}
.RedFont {
	COLOR: red
}
.PMLC12_text_block_a2 {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; COLOR: #333
}
.table_check_rs TABLE {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-COLLAPSE: collapse; WORD-WRAP: break-word; WORD-BREAK: break-all; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
.table_check_rs TABLE TD {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 0px
}
.PMLC12_jcxsbg_text {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; LINE-HEIGHT: 15px; PADDING-LEFT: 10px; COLOR: #0b4702; FONT-SIZE: 12px
}
.PMLC12_jcxsbg_text_a {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; LINE-HEIGHT: 15px; PADDING-LEFT: 10px; COLOR: #000; FONT-SIZE: 12px
}
.PMLC12_jcxsbg_text_b {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; LINE-HEIGHT: 15px; PADDING-LEFT: 10px; COLOR: black; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
A.menu_sel {
	BACKGROUND-IMAGE: url(../../images/pmlc12_menu_bga.gif); BACKGROUND-REPEAT: no-repeat; COLOR: #fff; FONT-WEIGHT: 700
}
A.menu_sel:visited {
	BACKGROUND-IMAGE: url(../../images/pmlc12_menu_bga.gif); BACKGROUND-REPEAT: no-repeat; COLOR: #fff; FONT-WEIGHT: 700
}
A.menu_sel:link {
	BACKGROUND-IMAGE: url(../../images/pmlc12_menu_bga.gif); BACKGROUND-REPEAT: no-repeat; COLOR: #fff; FONT-WEIGHT: 700
}
A.menu_sel:active {
	BACKGROUND-IMAGE: url(../../images/pmlc12_menu_bga.gif); BACKGROUND-REPEAT: no-repeat; COLOR: #fff; FONT-WEIGHT: 700
}
A.menu_sel:hover {
	BACKGROUND-IMAGE: url(../../images/pmlc12_menu_bga.gif); BACKGROUND-REPEAT: no-repeat; COLOR: #fff; FONT-WEIGHT: 700
}
.PMLC12_xxlb_table_bga {
	WIDTH: 100%; HEIGHT: 24px
}
.PMLC12_xxlb_table_bga TR {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 24px; BORDER-LEFT-WIDTH: 0px
}
.PMLC12_xxlb_table_bgb {
	WIDTH: 100%; HEIGHT: 24px
}
.PMLC12_xxlb_table_bgb TR {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 24px; BORDER-LEFT-WIDTH: 0px
}
A.PMLC12_sclw_a {
	BACKGROUND-IMAGE: url(../../images/PMLC12_sclw.gif); WIDTH: 155px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px
}
A.PMLC12_sclw_a:visited {
	BACKGROUND-IMAGE: url(../../images/PMLC12_sclw.gif); WIDTH: 155px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px
}
A.PMLC12_sclw_a:link {
	BACKGROUND-IMAGE: url(../../images/PMLC12_sclw.gif); WIDTH: 155px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px
}
A.PMLC12_sclw_a:hover {
	BACKGROUND-IMAGE: url(../../images/PMLC12_sclw_A.gif); WIDTH: 155px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px
}
A.PMLC12_sclw_a:active {
	BACKGROUND-IMAGE: url(../../images/PMLC12_sclw_A.gif); WIDTH: 155px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px
}
A.PMLC12_sclw_b {
	BACKGROUND-IMAGE: url(../../images/PMLC12_sclw_A.gif); WIDTH: 155px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px
}
A.PMLC12_sclw_b:visited {
	BACKGROUND-IMAGE: url(../../images/PMLC12_sclw_A.gif); WIDTH: 155px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px
}
A.PMLC12_sclw_b:link {
	BACKGROUND-IMAGE: url(../../images/PMLC12_sclw_A.gif); WIDTH: 155px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px
}
A.PMLC12_sclw_b:hover {
	BACKGROUND-IMAGE: url(../../images/PMLC12_sclw_A.gif); WIDTH: 155px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px
}
A.PMLC12_sclw_b:active {
	BACKGROUND-IMAGE: url(../../images/PMLC12_sclw_A.gif); WIDTH: 155px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 33px
}
.PMLC12_gd_text_a {
	TEXT-ALIGN: left; PADDING-LEFT: 5px; COLOR: #333; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.PMLC12_gd_text_c {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; FONT-SIZE: 12px
}
.PMLC12_zyxxtj {
	MARGIN: auto; MIN-HEIGHT: 530px; WIDTH: 877px; HEIGHT: auto !important; PADDING-TOP: 5px
}
.PMLC12_zyxxtj_a {
	MARGIN: auto; WIDTH: 877px; HEIGHT: auto
}
.PMLC12_wjjgl_imga {
	BACKGROUND-IMAGE: url(../../images/pmlc12_wjjgl_images_a.gif); WIDTH: 877px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 50px
}
.PMLC12_zyxxtj_imga {
	BACKGROUND-IMAGE: url(../../images/pmlc12_xxtj_zyxxtj.gif); WIDTH: 877px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 50px
}
.PMLC12_zyxxtj_imgb {
	BACKGROUND-IMAGE: url(../../images/pmlc12_zc_b.gif); MIN-HEIGHT: 400px; WIDTH: 877px; BACKGROUND-REPEAT: repeat-y; HEIGHT: auto !important; VERTICAL-ALIGN: top
}
.PMLC12_zyxxtj_table_b {
	BORDER-RIGHT-WIDTH: 0px; MARGIN: 10px 25px 10px 18px; WIDTH: 95%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: auto; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 10px
}
.PMLC12_zyxxtj_imgg {
	BACKGROUND-IMAGE: url(../../images/pmlc12_zc_g.gif); WIDTH: 877px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px
}
.div_r_info {
	BORDER-BOTTOM: #c6cbcf 1px solid; BORDER-LEFT: #c6cbcf 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; MARGIN-BOTTOM: 5px; BORDER-TOP: #c6cbcf 1px solid; BORDER-RIGHT: #c6cbcf 1px solid; PADDING-TOP: 5px
}
.div_r_item {
	DISPLAY: none
}
.but_control_show {
	CURSOR: pointer
}
.but_control_hide {
	CURSOR: pointer
}
.text1 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: auto; PADDING-TOP: 0px
}
.table {
	TEXT-ALIGN: left; MARGIN: 10px auto; WIDTH: 100%; HEIGHT: auto; OVERFLOW: visible
}
.LC_text {
	TEXT-ALIGN: right; LINE-HEIGHT: 20px; FONT-SIZE: 12px
}
.LC_p3 {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; COLOR: #006600; FONT-SIZE: 12px
}
.LC_p4 {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; COLOR: #333333; FONT-SIZE: 12px
}
.LC_p5 {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; COLOR: #666666; FONT-SIZE: 12px
}
.LC_Div {
	POSITION: relative
}
.LC_Table {
	MARGIN: 5px 3px
}
.LC_Table_TR {
	LINE-HEIGHT: 24px
}
.LC_Table_TD1 {
	TEXT-ALIGN: right; WIDTH: 80px
}
.LC_Table_TD2 {
	TEXT-ALIGN: left
}
.LC_Table_TD3 {
	TEXT-ALIGN: right; PADDING-RIGHT: 63px
}
.LC_TableTD4 {
	TEXT-ALIGN: right; WIDTH: 100%
}
.LC_Btn {
	WIDTH: 17px; HEIGHT: 18px; VERTICAL-ALIGN: middle; CURSOR: pointer
}
.LC_Form_Div {
	Z-INDEX: 50; BORDER-BOTTOM: #666 1px solid; POSITION: absolute; BORDER-LEFT: #666 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 380px; FLOAT: left; HEIGHT: auto; BORDER-TOP: #666 1px solid; BORDER-RIGHT: #666 1px solid; TOP: 30px; LEFT: 323px
}
.LC_Form_Div2 {
	Z-INDEX: 50; BORDER-BOTTOM: #666 1px solid; POSITION: absolute; BORDER-LEFT: #666 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 380px; FLOAT: left; HEIGHT: auto; BORDER-TOP: #666 1px solid; BORDER-RIGHT: #666 1px solid; TOP: 30px; LEFT: 60px
}
.LC_Form_Div1 {
	BACKGROUND-COLOR: #8fbc8f; WIDTH: 100%; HEIGHT: 15px
}
.LC_Table_text {
	BORDER-BOTTOM: #666 1px solid; BORDER-LEFT: #666 1px solid; WIDTH: 150px; HEIGHT: 15px; BORDER-TOP: #666 1px solid; BORDER-RIGHT: #666 1px solid
}
.LC_Table1 {
	WIDTH: 100%; HEIGHT: 15px
}
.LC_Table_Input {
	LINE-HEIGHT: 16px; WIDTH: 150px; HEIGHT: 16px
}
.lc_w_bgxian {
	BACKGROUND-IMAGE: url(../../images/pmlc12_w_bgxian_a.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px
}
.wai {
	BORDER-BOTTOM: #c7c7c7 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #c7c7c7 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 30px; BACKGROUND-COLOR: #f5f5f5; MARGIN: 100px auto auto; PADDING-LEFT: 10px; WIDTH: 400px; PADDING-RIGHT: 10px; FONT-FAMILY: ËÎÌו; HEIGHT: 200px; BORDER-TOP: #c7c7c7 1px solid; BORDER-RIGHT: #c7c7c7 1px solid; PADDING-TOP: 10px
}
.wai H3 {
	LINE-HEIGHT: 40px
}
.wai1-2 {
	BORDER-BOTTOM: #c7c7c7 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #c7c7c7 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 30px; BACKGROUND-COLOR: #f5f5f5; MARGIN: 100px auto auto; PADDING-LEFT: 10px; WIDTH: 260px; PADDING-RIGHT: 10px; FONT-FAMILY: ËÎÌו; HEIGHT: 200px; BORDER-TOP: #c7c7c7 1px solid; BORDER-RIGHT: #c7c7c7 1px solid; PADDING-TOP: 10px
}
.s_new_table_bt {
	BORDER-BOTTOM: #b3c6ad 2px solid; TEXT-ALIGN: left; LINE-HEIGHT: 20px; COLOR: #333; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.s_new_wxjcjg_center_left {
	WIDTH: 60%; FLOAT: left; HEIGHT: auto
}
.s_new_wxjcjg_center_right {
	WIDTH: 40%; FLOAT: right; HEIGHT: auto
}
.s_new_wxjcjg_center_right_a {
	MARGIN: auto; WIDTH: 150px; HEIGHT: auto
}
.s_new_wxjcjg_center_right_a1 {
	TEXT-ALIGN: center; WIDTH: 150px; HEIGHT: 25px; PADDING-TOP: 30px
}
.s_new_text_grayl A {
	COLOR: #0b4702
}
.s_new_text_gray_am A {
	COLOR: #0b4702
}
.s_new_text_grayl A:hover {
	COLOR: #7bab7c
}
.s_new_text_gray_am A:hover {
	COLOR: #7bab7c
}
A.s_new_n {
	COLOR: #666
}
A.s_new_n:hover {
	COLOR: #666
}
.s_new_w_bian {
	LINE-HEIGHT: 20px; HEIGHT: 20px; FONT-SIZE: 12px
}
.s_new_w_bians {
	LINE-HEIGHT: 20px; HEIGHT: 20px; FONT-SIZE: 12px
}
.s_new_text_gray {
	TEXT-ALIGN: right; LINE-HEIGHT: 15px; COLOR: #0b4702; FONT-SIZE: 12px
}
.s_new_text_gray_zwz {
	TEXT-ALIGN: right; LINE-HEIGHT: 15px; COLOR: #0b4702; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.s_new_text_grayl {
	TEXT-ALIGN: left; LINE-HEIGHT: 15px; COLOR: #0b4702; FONT-SIZE: 12px
}
.s_new_text_gray IMG {
	FLOAT: left
}
.s_new_text_grays {
	TEXT-ALIGN: right; LINE-HEIGHT: 15px; COLOR: #7bab7c; FONT-SIZE: 12px
}
.s_new_text_gray_a {
	TEXT-ALIGN: left; LINE-HEIGHT: 15px; PADDING-LEFT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666; FONT-SIZE: 12px
}
.s_new_tj_fzb {
	COLOR: #666; FONT-SIZE: 10px
}
.s_new_text_gray_as {
	TEXT-ALIGN: left; LINE-HEIGHT: 15px; PADDING-LEFT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000; FONT-SIZE: 12px
}
.s_new_text_gray_am {
	TEXT-ALIGN: left; LINE-HEIGHT: 15px; PADDING-LEFT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0b4702; FONT-SIZE: 12px
}
.s_new_table_js {
	MARGIN-TOP: 5px; WIDTH: 100%; HEIGHT: auto
}
.s_new_table_js TD {
	LINE-HEIGHT: 20px
}
.s_new_table_zyjs {
	LINE-HEIGHT: 20px; WIDTH: 100%; HEIGHT: auto
}
.s_new_jcjg_a {
	TEXT-ALIGN: left; WIDTH: 48px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px
}
.s_new_fzb_ct {
	LINE-HEIGHT: 15px; COLOR: #333; FONT-WEIGHT: bold
}
.s_new_table_zyjs TD {
	LINE-HEIGHT: 20px
}
.s_new_w_bgxian {
	BACKGROUND-IMAGE: url(../../images/pmlc12_w_bgxian.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 18px
}
.s_new_w_bgxians {
	BACKGROUND-IMAGE: url(../../images/pmlc12_w_bgxians.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 18px
}
.s_new_table_ck {
	COLOR: #0c7020
}
.s_new_table_ck:hover {
	COLOR: #7bab7c
}
.s_new_tj_bgsj {
	COLOR: #000
}
.s_new_tj_bgsj:hover {
	COLOR: #a00206
}
.s_new_hui {
	COLOR: #666
}
.s_new_bz {
	FONT-WEIGHT: normal
}
.s_new_table_td {
	MIN-HEIGHT: 150px; VERTICAL-ALIGN: top
}
.s_new_img {
	VERTICAL-ALIGN: middle
}
.t_new_tj_bgsj {
	FONT-WEIGHT: bold
}
.t_new_table_bt {
	BORDER-BOTTOM: #b3c6ad 2px solid; TEXT-ALIGN: left; LINE-HEIGHT: 42px; COLOR: #333
}
.t_right_table_bg_row {
	BACKGROUND-COLOR: #def4d5; WIDTH: 100%; HEIGHT: 25px
}
.t_right_table_bg_row TD {
	COLOR: #005d00; FONT-WEIGHT: bold
}
.t_text_blockbiao_a A {
	COLOR: #005d00
}
.t_text_blockbiao_a A:hover {
	COLOR: #038403
}
.t_right_table_bg {
	WIDTH: 100%; HEIGHT: 24px
}
.t_right_table_bg_a {
	MARGIN-TOP: 10px
}
.t_right_table_bg TR {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.t_right_table_bg TD {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.t_right_table_bg_row {
	BACKGROUND-COLOR: #def4d5; WIDTH: 100%; HEIGHT: 25px
}
.t_right_table_bg_rowb {
	BACKGROUND-COLOR: #fff; WIDTH: 100%; HEIGHT: 25px
}
.t_right_table_bg_rowa {
	BACKGROUND-COLOR: #f3fcf3; WIDTH: 100%; HEIGHT: 25px
}
.t_jc_xh {
	TEXT-ALIGN: center
}
.t_jc_dlzs {
	COLOR: #666666
}
TD.t_pqgd {
	TEXT-ALIGN: left; COLOR: #000000
}
.t_pqgd_lb {
	PADDING-BOTTOM: 10px; MARGIN: 10px auto; PADDING-LEFT: 10px; WIDTH: 96%; PADDING-RIGHT: 10px; BACKGROUND: #ecedec; PADDING-TOP: 10px
}
.t_table_bz_gdh {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; TEXT-INDENT: 18px; HEIGHT: 20px; COLOR: #2d2d2c; FONT-WEIGHT: bold
}
.t_table_bz_gd {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; COLOR: #810404
}
.t_table_bz_mark {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; FONT-WEIGHT: bold
}
.t_pqgd_lb_a {
	BORDER-BOTTOM: #127803 1px dotted
}
.PMlC12_login_head1 {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #1b7a02; WIDTH: 100%; HEIGHT: 116px
}
.PMLC12_login_menu1 {
	TEXT-ALIGN: right; LINE-HEIGHT: 30px; WIDTH: 300px; PADDING-RIGHT: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: right; HEIGHT: 30px; COLOR: #ceeb8f; FONT-SIZE: 12px; PADDING-TOP: 10px
}
.PMLC12_login_menu1 IMG {
	PADDING-BOTTOM: 8px
}
.hand_btn {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 140px; WIDTH: 164px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.PMLC12_login_menu1 A:link {
	COLOR: #ceeb8f; TEXT-DECORATION: none
}
.PMLC12_login_menu1 A:visited {
	COLOR: #ceeb8f; TEXT-DECORATION: none
}
.PMLC12_login_menu1 A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.PMLC12_login_menu1 A:active {
	COLOR: #ceeb8f; TEXT-DECORATION: none
}
.PMLC12_login_head_bg1 {
	BACKGROUND-IMAGE: url(../../images/pmlc12_login_head1.gif); MARGIN: auto; WIDTH: 1005px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 116px
}
